<div class="container-fluid" *ngFor="let Persona of persona">
    <div>
        <img src="{{Persona.banner}}" class="banner img-fluid rounded mt-3" alt="banner Portfolio">
        <button *ngIf="isLogged" type="button" class="btn-banner btn btn-info me-3"
            routerLink="/editbanner/{{Persona.id}}"><i
                class="bi bi-pencil-fill"></i>EDITAR</button>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="{{Persona.img}}" class="border border-dark" id="foto-perfil" alt="foto de perfil Leandro Dieguez" height="230px">
        </div>
        <div class="mt-3 col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <p id="name" class="fw-semibold fs-3">{{Persona.nombre}} {{Persona.apellido}}</p>
            <p class="fw-semibold fs-5">{{Persona.title}}</p>
            <td *ngIf="isLogged"><button type="button" class="btn btn-info me-3"
                routerLink="/editper/{{Persona.id}}"><i
                    class="bi bi-pencil-fill"></i>EDITAR</button></td>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de mi</h1>
                <p class="fw-semibold fs-5">{{Persona.about}}</p>
            </span>
        </div>
        <hr>
    </div>
</div>

