<div class="container-fluid">
    <div class="row">
        <h1>Educacion </h1>
        <div class="col-lg-2 mt-3">
            <button class="btn btn-primary" routerLink="/nuevaedu" *ngIf="isLogged">Agregar Educacion</button>
        </div>
        <div class="col-lg-11 mt-4">
            <table class="table">
                <tbody>
                    <tr *ngFor="let Educacion of educacion">
                        <div class="card-xp row featurette border border-dark mb-3 rounded">
                            <div class="col-md-3">
                                <img class="img-fluid border border-dark" src="{{Educacion.imgE}}" alt="">
                                </div>
                                <div class="col-md-9">
                            <td>
                                <h2 class="mt-3 me-2">{{Educacion.nombreE}}: </h2>
                            </td>
                            <td>
                                <p>{{Educacion.descripcionE}}</p>
                            </td>
                            <div>
                                <td *ngIf="isLogged"><button type="button" class="btn btn-info me-3"
                                        routerLink="/editedu/{{Educacion.id}}"><i
                                            class="bi bi-pencil-fill"></i>EDITAR</button></td>
                                <td *ngIf="isLogged"><button type="button" class="btn btn-danger"
                                        (click)="delete(Educacion.id)"><i class="bi bi-trash-fill"></i>BORRAR</button>
                                </td>
                            </div>
                        </div>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>