.row {
    padding: 25px;
}

.container-fluid {
    background-color: #3a89c9;
}

.card-xp {
    background: #355c7d;
}

h1 {
    text-decoration: underline 2px;
}

.card-xp:hover {
    box-shadow: 1px 2px 10px 5px #355c7d;
    
}