.container-fluid {
    background: #3a89c9;
}

.row {
    padding: 50px;
}

p {
    margin-top: 15px;
    font-size: 25px;
}
 
tbody {
    border-color: #355c7d;
}

h1 {
    text-decoration: underline 2px;
}

.card-xp {
    background: #355c7d;
    padding: 20px;
}

.card-xp:hover {
    box-shadow: 1px 2px 10px 5px #355c7d;
    
}
